body {
  background-image: url("background.jpeg");
}

.headerText {
  text-align: center;
  font-size: 3rem;
}

.upperBorder {
  background-color: black;
  height: 0.625rem;
  width: 18.9375rem;
}

.display {
  background-color: black;
  padding: 0.1rem;
  width: 15.625rem;
  text-align: right;
  font-size: 2rem;
  margin-left: 0.625rem;
}

p {
  color: #ffffff;
}

.container {
  background-color: black;
  height: 25rem;
  width: 18.9375rem;
}

.margin {
  margin-left: 0.625rem;
}

.wide {
  width: 8.625rem;
}

button {
  width: 4.1875rem;
  height: 2.8125rem;
  margin-top: 0.625rem;
  background-color: #363636;
  color: #ffffff;
  font-size: 1.25rem;
  border-radius: 1.25rem;
  border-width: 0px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(182, 178, 178);
}

button:active {
  background-color: rgb(136, 136, 136);
}

.orange {
  background-color: #f1981f;
}

.grayButton {
  background-color: #a4a4a4;
}

.orange:hover {
  cursor: pointer;
  background-color: #bb781d;
}

.orange:active {
  background-color: #8a5916;
}
